body {
  background-image: linear-gradient(rgb(199, 233, 220), rgb(163, 227, 255));
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
